:root {
  --primary-color:#e9a0a0;
  --primary-color-alpha01:rgba(233, 160, 160,0.1);
  --primary-color-alpha02:rgba(233, 160, 160,0.2);
  --primary-color-alpha03:rgba(233, 160, 160,0.3);
  --primary-color-alpha04:rgba(233, 160, 160,0.4);
  --primary-color-alpha05:rgba(233, 160, 160,0.5);
  --primary-color-alpha06:rgba(233, 160, 160,0.6);
  --primary-color-alpha07:rgba(233, 160, 160,0.7);
  --primary-color-alpha08:rgba(233, 160, 160,0.8);
  --primary-color-alpha09:rgba(233, 160, 160,0.9);
  --primary-color-a3-hex:#F0D8D8;
  --bg-color: #f3f1f1;
  --border-color-glass: rgba(255,255,255,.2);
  --nav-shadow: -5px 10px 12px rgba(0,0,0,.1);
  --nav-height: 100px;
  --swipe-area-height: 125px;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--bg-color);
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.pingu-form {
  display: block;
  margin: auto;
}

.pingu-form .pingu-form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.pingu-form .pingu-btn {
  display: inline-block;
  margin-left: 0;
}

.pingu-form .pingu-piece {
  padding-bottom: 1rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pingu-form .pingu-piece-check {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pingu-form .pingu-form-check-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: top;
  border: 1px solid #e2e3e4;
  border-radius: 0.25rem;
  height: 1.1em;
  width: 1.1em;
  margin-left: 0;
}

.pingu-form .pingu-form-check-input:checked {
  background-color: #e9a0a0;
  border-color: #e9a0a0;
}

.pingu-form .pingu-form-check-label {
  padding-left: 5px;
}

.pingu-form .pingu-form-ctrl {
  height: auto;
  width: auto;
  padding: .375rem .75rem;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e3e4;
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pingu-form .pingu-form-ctrl, .pingu-form-check-input {
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.pingu-form .pingu-form-ctrl:focus, .pingu-form-check-input:focus {
  border-color: #e9a0a0;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(233, 160, 160, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(233, 160, 160, 0.25);
}

.pingu-form .pingu-form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #a3aaaf;
}

.pingu-check-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: top;
  -webkit-box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  height: 1.1em;
  width: 1.1em;
  margin-left: 0;
}

.pingu-check-input:checked {
  background-color: #e9a0a0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.pingu-container {
  display: block;
}

.x-center {
  margin-left: auto;
  margin-right: auto;
}

.y-center {
  padding: 70px 0;
}

.w-md {
  width: 50% !important;
}

.w-300 {
  width: 300px !important;
}

.w-400 {
  width: 400px !important;
}

.w-fill {
  width: 100% !important;
}

.h-md {
  height: 50% !important;
}

.h-300 {
  height: 300px !important;
}

.h-400 {
  height: 400px !important;
}

.h-fill {
  height: 100% !important;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.nav-toggle {
  display: none;
  position: fixed;
  background-color: var(--primary-color-alpha03);
  padding: 10px;
  right: .5rem;
  top: -2px;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom: 1px solid var(--border-color-glass);
  border-left: 1px solid var(--border-color-glass);
  border-right: 1px solid var(--border-color-glass);
  border-top: 4px solid var(--primary-color-a3-hex);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-fade {
  opacity: .3;
}

.nav-toggle-btn {
  color: var(--primary-color);
}

.skeleton::before {
  content: '';
  display: block;
  position: fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Crect stroke='null' rx='100' id='svg_7' height='184.07693' width='454.00002' y='76.92309' x='69' fill='%23e5e5e5'/%3E%3Crect rx='13' stroke='null' id='svg_9' height='32.3077' width='1634' y='314.6154' x='69' fill='%23e5e5e5'/%3E%3Crect rx='13' stroke='null' id='svg_11' height='32.3077' width='1449' y='390.38462' x='69' fill='%23e5e5e5'/%3E%3Crect rx='13' stroke='null' id='svg_12' height='32.3077' width='835' y='462.69231' x='69' fill='%23e5e5e5'/%3E%3Crect rx='13' stroke='null' id='svg_14' height='32.3077' width='449' y='195.92299' x='573.61547' fill='%23e5e5e5'/%3E%3Crect rx='13' stroke='null' id='svg_16' height='32.3077' width='680' y='112.30763' x='573.61547' fill='%23e5e5e5'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: 1;
}

.skeleton::after {
  content: '';
  display: block;
  position: fixed;
  background-color: var(--bg-color);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.4)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  -webkit-animation: loading 1.5s infinite;
          animation: loading 1.5s infinite;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}

.skeleton-fade-out {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  background-color: var(--bg-color);
}

.body-fade-in {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-3 {
  padding-top: 3em;
}

.pt-4 {
  padding-top: 4em;
}

.pt-5 {
  padding-top: 5em;
}

@media only screen and (min-width: 768px) {
  .pingu-swipe-area {
    pointer-events: none;
  }
  .nav {
    pointer-events: auto;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="w-"] {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile nav-menu: */
  body {
    -webkit-transition: padding-top .5s;
    transition: padding-top .5s;
  }
  .skeleton::before {
    background-image: url("data:image/svg+xml,%3Csvg width='600' height='1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Crect stroke='null' rx='10' id='svg_16' height='23' width='139' y='419.05406' x='30' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='10' id='svg_44' height='23' width='539' y='314.05406' x='30' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='10' id='svg_45' height='23' width='452' y='367.72072' x='30' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='10' id='svg_47' height='23' width='539' y='200.72072' x='30' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='10' id='svg_48' height='23' width='452' y='255.72072' x='30' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='52' id='svg_52' height='99.86688' width='246.30769' y='48.87457' x='19.76922' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='8' id='svg_53' height='16.92308' width='169' y='108.43493' x='280' fill='%23e5e5e5'/%3E%3Crect stroke='null' rx='8' id='svg_54' height='16.92308' width='253.09893' y='69.8635' x='280' fill='%23e5e5e5'/%3E%3C/g%3E%3C/svg%3E");
  }
  .pushed {
    padding-top: var(--nav-height);
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    background-color: var(--primary-color-a3-hex);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    padding-top: 1rem;
    margin: 0;
  }
  .nav-collapse {
    -webkit-transform: translateY(calc(var(--nav-height) - (var(--nav-height) * 2)));
            transform: translateY(calc(var(--nav-height) - (var(--nav-height) * 2)));
  }
  .nav-show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -ms-touch-action: none;
        touch-action: none;
    border-bottom-color: var(--border-color-glass);
    -webkit-box-shadow: var(--nav-shadow);
            box-shadow: var(--nav-shadow);
  }
  .nav-hide {
    opacity: 0;
  }
  .nav-toggle {
    display: block;
  }
  .nav-toggle-open {
    background-color: var(--primary-color-a3-hex);
    -webkit-transform: translateY(var(--nav-height));
            transform: translateY(var(--nav-height));
    -webkit-box-shadow: var(--nav-shadow);
            box-shadow: var(--nav-shadow);
  }
  .pingu-swipe-area {
    display: initial;
    position: absolute !important;
    width: 100%;
    height: var(--swipe-area-height);
    top: 0;
    left: 0;
  }
  .toggle-swipe {
    position: fixed !important;
    right: 0;
    left: auto;
    width: 80px;
    height: 75px;
  }
  .main {
    padding-top: calc(var(--swipe-area-height) / 2);
  }
  .pos-top {
    top: 0 !important;
  }
  .pos-left {
    left: 0 !important;
  }
  .pos-right {
    right: 0 !important;
  }
  .pos-bottom {
    bottom: 0 !important;
  }
}

.code-snippet {
  border-radius: 45px;
  padding: 1.4em;
}

.container {
  opacity: 1;
}

body {
  max-height: 90vh;
}
/*# sourceMappingURL=wip.css.map */